.page{
  padding-bottom: 0!important;
  overflow: hidden;
  }

// 导航栏
.sidebar-heading{
  line-height: 56px;
}
.sidebar-links li a{
   padding-left: 1.5rem!important;
  transition: .15s ease-out;
  line-height: 56px;
}
a.sidebar-link.active {
  background: rgba(0,205,150,.06);
  padding-left: 2rem!important;
}

// 内容区域
.theme-default-content:not(.custom){
  padding: 20px 40px;
  padding-bottom: 0!important;
  position: relative;
}

.page-nav, .page-edit{
  display: none
}